.sport-table {
    overflow: auto;
    margin: 10px;
}

.example-element-detail {
  overflow: hidden;
}
 
.image {
  float:left;
  padding-right: 16px;
}

.example-element-description {
  padding: 0px 16px 16px 16px;
}

tr.example-detail-row {
  height: 0;
}
  
tr.example-element-row:not(.example-expanded-row):hover {
  background: whitesmoke;
}

.example-element-row td {
  border-bottom-width: 0;
}
